# HTML
# Archive your static HTML project and save it with the build record.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: SonarCloudPrepare@1
  inputs:
    SonarCloud: 'lsg-sonarcloud'
    organization: 'devops-tcs-team1'
    scannerMode: 'MSBuild'
    projectKey: 'd47l6kxp6xaa6vzxhatcecp245cl5brh5imw3xtwxsa3p6kgqfca'
- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: '$(build.sourcesDirectory)'
    includeRootFolder: false

- task: PublishBuildArtifacts@1
- task: SonarCloudAnalyze@1
- task: SonarCloudPublish@1
  inputs:
    pollingTimeoutSec: '300'
